<div class="card">
  <div class="comment">
    <div class="comment__score">
      <button class="comment__score--plus">+</button>
      <span class="comment__score--number">12</span>
      <button class="comment__score--minus">-</button>
    </div>
    <div class="comment__content">
      <div class="comment__content-info">
        <div class="comment__author">Nina</div>
        <div class="comment__btn-replay">Replay</div>
      </div>
      <div class="comment__content-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa
          blanditiis assumenda incidunt nostrum. Magnam ullam, quisquam odio,
          voluptates ipsum labore a cupiditate laudantium quis alias iure
          molestiae ipsam, vero nostrum?
        </p>
      </div>
    </div>
  </div>
</div>
